article a[href*="//"]:not([href*="efduarte.github.io"])::before
{
    content: "🔗";
}

img[src*="_images/essentials-"]
{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

h1, h2, h3, h4, h5, h6
{
    clear: both;
}

.copy-button
{
    color: #34495e;
    margin-top:1em;
    background: #fff;
    border: 1px solid #eee;
    padding: 1em;
    border-radius: 1em;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    outline: 0;
}

.copy-button:hover
{
    cursor: pointer;
}

.copy-button:active
{
    background: #eee;
    border: 1px solid #ddd;
}

.copy-button:active::after
{
    color: #999999;
    position: absolute;
    padding-left: 2em;
    content: " copied!";
    font-style: italic;
}

footer,
footer a
{
    color: #BBBBBB !important;
    clear: both;
}

footer a::before
{
    content: "" !important;
}